<template>
  <div class="home max-w-7xl m-auto">
    <div class="flex">
      <div class="flex-none w-72">
        <LeftSidebar></LeftSidebar>
      </div>
      <div class="flex-grow bg-transparent border-l border-r border-gray-100">
        <router-view></router-view>
      </div>
      <div class="flex-none w-80">
        <RightSidebar></RightSidebar>
      </div>
    </div>
  </div>
</template>

<script>
import LeftSidebar from "../components/home/left-sidebar.vue";
import RightSidebar from "../components/home/right-sidebar.vue";

export default {
  name: "Home",
  components: {
    LeftSidebar,
    RightSidebar,
  },
  methods: {
    getUser: function () {
      var user = this.$store.state.account.loggedInUser;
      console.log(user);
    },
    logOut: function () {
      localStorage.clear();
      this.$router.replace("/");
    },
  },
  created: function () {
    this.getUser();
  },
};
</script>
