<template>
  <div class="login">
    <div class="h-10"></div>
    <button
      class="
        border
        rounded-full
        text-gray-600
        px-5
        py-3
        w-full
        mb-3
        hover:bg-blue-50
      "
    >
      <svg
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 48 48"
        class="w-4 relative -top-0.5 inline mr-1"
      >
        <g>
          <path
            fill="#EA4335"
            d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"
          ></path>
          <path
            fill="#4285F4"
            d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"
          ></path>
          <path
            fill="#FBBC05"
            d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"
          ></path>
          <path
            fill="#34A853"
            d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"
          ></path>
          <path fill="none" d="M0 0h48v48H0z"></path>
        </g>
      </svg>
      Sign in with Google
    </button>

    <div class="py-5 flex flex-row">
      <div class="border-b h-3 flex-grow"></div>
      <div class="w-10 text-center flex-none">OR</div>
      <div class="border-b h-3 flex-grow"></div>
    </div>

    <form @submit.prevent="onSubmit" novalidate>
      <div class="relative mb-4">
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Phone, Email or Username"
          v-model="username"
          class="
            w-full
            bg-white
            rounded
            border border-gray-400
            focus:border-blue-500 focus:ring-2 focus:ring-blue-200
            text-base
            outline-none
            text-gray-700
            py-3
            px-3
            leading-8
            transition-colors
            duration-200
            ease-in-out
          "
        />
      </div>
      <div class="py-4" v-if="error">
        <div
          class="
            p-4
            border border-red-500
            bg-red-100
            text-red-500
            rounded-md
            transition
            duration-500
            ease-in-out
            font-light
            text-sm
          "
        >
          Invalid username.
        </div>
      </div>
      <button
        type="submit"
        class="
          text-white
          bg-gray-400
          border-0
          py-3
          px-6
          focus:outline-none
          hover:bg-blue-600
          rounded-full
          text-sm
          w-full
          font-semibold
          mb-3
        "
      >
        Next
      </button>
      <button
        class="
          text-black
          bg-transparent
          border
          py-3
          px-6
          focus:outline-none
          hover:bg-blue-600
          rounded-full
          text-sm
          w-full
          font-semibold
        "
      >
        Forgot Password
      </button>
    </form>
  </div>
</template>

<script>
import axios from "../axios/axios";

export default {
  name: "LoginComponent",
  data: function () {
    return {
      username: "",
      error: false,
    };
  },
  components: {},
  methods: {
    onSubmit: function () {
      axios
        .post("/api/account/login", {
          username: this.username,
          password: "123456",
        })
        .then((res) => {
          localStorage.setItem("token", res.data.token);
          this.$router.replace("/");
        })
        .catch(() => {
          this.error = true;
          setTimeout(() => {
            this.error = false;
          }, 3000);
        });

      // this.$store.dispatch("account/login", { username: this.username });
      // var user = this.$store.state.account.loggedInUser;
      // if (!user) {
      //   this.error = true;
      //   setTimeout(() => {
      //     this.error = false;
      //   }, 10000);
      //   return;
      // }
      // localStorage.setItem("token", "token");
      // this.$router.replace("/");
    },
  },
};
</script>