<template>
  <div class="signup">
    <div class="pb-5 text-2xl font-bold">Create your account</div>

    <form @submit.prevent="onSubmit">
      <div class="relative mb-4">
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Name"
          class="form-control"
          v-model.trim="$v.user.name.$model"
        />
        <div v-if="$v.user.name.$dirty">
          <div class="text-red-600 text-sm" v-if="!$v.user.name.required">
            This is required field
          </div>
        </div>
      </div>
      <div class="relative mb-4" v-if="choice == 'phone'">
        <input
          type="text"
          id="phome"
          name="phone"
          placeholder="Phone"
          class="form-control"
          v-model.trim="$v.user.phone.$model"
        />
        <div v-if="$v.user.phone.$dirty">
          <div class="text-red-600 text-sm" v-if="!$v.user.phone.required">
            This is required field
          </div>
        </div>
      </div>
      <div class="relative mb-4" v-if="choice == 'email'">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          class="form-control"
          v-model.trim="$v.user.email.$model"
        />
        <div v-if="$v.user.email.$dirty">
          <div class="text-red-600 text-sm" v-if="!$v.user.email.required">
            This is required field
          </div>
        </div>
      </div>
      <div class="py-3">
        <p
          class="text-blue-500 cursor-pointer"
          v-if="choice == 'email'"
          @click="choice = 'phone'"
        >
          Use phone instead
        </p>
        <p
          class="text-blue-500 cursor-pointer"
          v-if="choice == 'phone'"
          @click="choice = 'email'"
        >
          Use email instead
        </p>
      </div>
      <div class="pb-3">
        <h4 class="font-bold">Date of birth</h4>
        <p class="text-gray-700 text-sm">
          This will not be shown publicly. Confirm your own age, even if this
          account is for a business, a pet, or something else.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-2 pb-5">
        <div>
          <select name="month" id="month" class="dropdown-date-input">
            <option value="">Month</option>
            <option value="">Jan</option>
            <option value="">Feb</option>
            <option value="">Mar</option>
            <option value="">Apr</option>
          </select>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <div>
            <select name="month" id="month" class="dropdown-date-input">
              <option value="">Day</option>
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
            </select>
          </div>
          <div>
            <select name="month" id="month" class="dropdown-date-input">
              <option value="">Year</option>
              <option value="2000">2000</option>
              <option value="2001">2001</option>
              <option value="2002">2002</option>
              <option value="2003">2003</option>
            </select>
          </div>
        </div>
      </div>
      <transition name="slide-fade">
        <div class="py-4" v-if="success">
          <div
            class="
              p-4
              border border-green-500
              bg-gray-100
              text-green-500
              rounded-md
              transition
              duration-500
              ease-in-out
              font-light
              text-sm
            "
          >
            Your account is created successfully.
          </div>
        </div>
      </transition>
      <transition name="slide-fade">
        <div class="py-4" v-if="error">
          <div
            class="
              p-4
              border border-red-500
              bg-red-100
              text-red-500
              rounded-md
              transition
              duration-500
              ease-in-out
              font-light
              text-sm
            "
          >
            {{ errorMessage }}
          </div>
        </div>
      </transition>
      <button
        class="
          text-white
          bg-gray-400
          border-0
          py-3
          px-6
          focus:outline-none
          hover:bg-blue-600
          rounded-full
          text-sm
          w-full
          font-semibold
        "
      >
        Next
      </button>
    </form>
    <div class="absolute bottom-0 left-0 right-0 text-center pb-5">
      <a href="" class="underline">Forgot password?</a>
    </div>
  </div>
</template>

<script>
import axios from "../axios/axios";
import {
  required,
  // minLength,
  // maxLength,
  email,
  requiredIf,
} from "vuelidate/lib/validators";
// import { mapActions } from 'vuex';

export default {
  name: "SignupComponent",
  data: function () {
    return {
      choice: "phone",
      success: false,
      error: false,
      errorMessage: "",
      user: {
        name: "",
        email: "",
        phone: "",
        password: "123456",
        username: "",
      },
    };
  },
  validations: {
    user: {
      name: { required },
      email: {
        required: requiredIf(function () {
          return this.choice === "email";
        }),
        email,
      },
      phone: {
        required: requiredIf(function () {
          return this.choice === "phone";
        }),
      },
      // password: { required, minLength: minLength(4), maxLength: maxLength(10) },
    },
  },
  components: {},
  methods: {
    onSubmit: function () {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      this.user.username =
        this.choice === "phone" ? this.user.phone : this.user.email;
      axios.post("/api/account/signup", this.user).then((res) => {
        console.log(res);
        if (res.data.success) {
          this.success = true;
          setTimeout(() => {
            this.success = false;
          }, 3000);
        } else {
          this.errorMessage = res.data.error;
          this.error = true;
          setTimeout(() => {
            this.errorMessage = "";
            this.error = false;
          }, 3000);
        }
      });
      // this.$store.dispatch("account/signup", this.user);
      // this.success = true;
      // setTimeout(() => {
      //   this.success = false;
      // }, 3000);
    },
  },
};
</script>

<style scoped>
.dropdown-date-input {
  @apply w-full bg-white rounded border border-gray-600 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-3 px-2 leading-8 transition-colors duration-200 ease-in-out;
}
.form-control {
  @apply w-full bg-white rounded border border-gray-400 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-3 px-3 leading-8 transition-colors duration-200 ease-in-out;
}
</style>