<template>
  <div class="follow">
    <div class="px-4 py-4 border-b">
      <div class="flex">
        <div class="flex-none w-10">
          <router-link to="/home">
            <ArrowLeftIcon
              class="inline mr-2 w-4 relative -top-0.5 hover:text-blue-500"
            />
          </router-link>
        </div>
        <div class="flex-grow">Chatar singh</div>
      </div>
    </div>
    <div class="h-full w-full">
      <div class="border-b border-gray-50 py-2" v-for="u in users" :key="u.id">
        <div class="flex">
          <div class="flex-none w-24 px-4 py-2">
            <div
              class="
                w-16
                h-16
                rounded-full
                inline-flex
                items-center
                justify-center
                bg-gray-200
                text-gray-400
              "
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-10 h-10"
                viewBox="0 0 24 24"
              >
                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </div>
          </div>
          <div class="flex-grow pt-6 px-4">{{ u.name }}</div>
          <div class="flex-none w-25 pt-6 px-4">
            <button
              class="
                border
                bg-black
                text-white
                px-4
                py-2
                rounded-full
                font-semibold
                text-sm
              "
              v-if="u.is_following === 0"
              @click="follow(u)"
            >
              Follow
            </button>
            <button
              class="
                border border-gray-300
                bg-white
                text-black
                px-4
                py-2
                rounded-full
                font-semibold
                text-sm
              "
              v-if="u.is_following === 1"
              @click="follow(u)"
            >
              Following
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ArrowLeftIcon } from "vue-feather-icons";
import axios from "../../axios/axios";

export default {
  name: "follow-component",
  components: {
    ArrowLeftIcon,
  },
  data: function () {
    return {
      count: 0,
      users: [],
    };
  },
  methods: {
    getUsers: function () {
      axios.get("/api/user/all").then(
        (res) => {
          this.users = res.data;
        },
        (err) => {
          console.log(err);
        }
      );
    },
    follow: function (u) {
      var url = "/api/user/follow";
      if (u.is_following === 1) {
        url = "/api/user/unfollow";
      }
      axios.post(url, { following_id: u.id }).then(
        (res) => {
          console.log(res);
          u.is_following = u.is_following === 1 ? 0 : 1;
        },
        (err) => {
          console.log(err);
        }
      );
    },
  },
  created: function () {
    this.getUsers();
  },
};
</script>

<style scoped>
.tweet {
  z-index: 999;
}
</style>