<template>
  <div class="LeftSidebar">
    <div class="py-2">
      <div class="flex">
        <div class="flex-none w-24 px-4 py-2">
          <div class="rounded-full">
            <svg
              viewBox="0 0 24 24"
              aria-hidden="true"
              class="w-6 fill-current text-blue-400 m-auto"
            >
              <g>
                <path
                  d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
                ></path>
              </g>
            </svg>
          </div>
        </div>
        <div class="flex-grow pt-6 px-4"></div>
      </div>
    </div>
    <ul class="px-4">
      <li class="py-2 text-gray-800">
        <router-link class="inline" to="/home">
          <HomeIcon class="inline mr-2 w-4 relative -top-0.5" />
          Home
        </router-link>
      </li>
      <li class="py-2 text-gray-800">
        <a href="#home" class="inline opacity-50 cursor-not-allowed">
          <HashIcon class="inline mr-2 w-4 relative -top-0.5" />
          Explore
        </a>
      </li>
      <li class="py-2 text-gray-800">
        <a href="#home" class="inline opacity-50 cursor-not-allowed">
          <BellIcon class="inline mr-2 w-4 relative -top-0.5" />
          Notifications
        </a>
      </li>
      <li class="py-2 text-gray-800">
        <router-link class="inline" to="/home/follow">
          <UserPlusIcon class="inline mr-2 w-4 relative -top-0.5" />
          Follow
        </router-link>
      </li>
      <li class="py-2 text-gray-800">
        <a href="javasript:void()" class="inline" @click="logout">
          <LogOutIcon class="inline mr-2 w-4 relative -top-0.5" />
          Logout
        </a>
      </li>
    </ul>
    <div
      class="absolute bottom-0 px-4 py-2 bg-gray-50 w-full"
      v-if="user && user.name"
    >
      {{ user.name }}
    </div>
  </div>
</template>

<script>
import {
  HomeIcon,
  HashIcon,
  BellIcon,
  LogOutIcon,
  UserPlusIcon,
} from "vue-feather-icons";
import axios from "../../axios/axios";

export default {
  name: "LeftSidebar",
  components: {
    HomeIcon,
    HashIcon,
    BellIcon,
    LogOutIcon,
    UserPlusIcon,
  },
  data: function () {
    return {
      count: 0,
      user: {},
    };
  },
  methods: {
    logout: function () {
      localStorage.clear();
      this.$router.push("/");
    },
    getUser: function () {
      axios.get("/api/user").then(
        (res) => {
          this.user = res.data;
        },
        (err) => {
          console.log(err);
        }
      );
    },
  },
  created: function () {
    this.getUser();
  },
};
</script>

<style scoped>
.LeftSidebar {
  @apply fixed top-0 bottom-0 pb-10 w-72;
}
.router-link-exact-active {
  @apply text-blue-500;
}
</style>