<template>
  <div class="profile">
    <div class="font-bold text-md px-4 py-2 border-b text-xl border-gray-100">
      Home
    </div>
    <div class="border-b border-gray-100 py-2">
      <div class="flex">
        <div class="flex-none w-24 px-4 py-2">
          <div
            class="
              w-16
              h-16
              rounded-full
              inline-flex
              items-center
              justify-center
              bg-gray-200
              text-gray-400
            "
          >
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-10 h-10"
              viewBox="0 0 24 24"
            >
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
        </div>
        <div class="flex-grow pt-6 px-4">
          <input
            type="text"
            class="w-full px-4 py-1 text-xl focus-visible: outline-none"
            rows="1"
            placeholder="What's happening"
            v-model="tweet"
            maxlength="280"
          />
          <div class="border-b border-gray-100 mt-2"></div>
          <div class="py-4 relative">
            <div>
              <svg
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="w-6 h-6 text-blue-500 fill-current inline"
              >
                <g>
                  <path
                    d="M19.75 2H4.25C3.01 2 2 3.01 2 4.25v15.5C2 20.99 3.01 22 4.25 22h15.5c1.24 0 2.25-1.01 2.25-2.25V4.25C22 3.01 20.99 2 19.75 2zM4.25 3.5h15.5c.413 0 .75.337.75.75v9.676l-3.858-3.858c-.14-.14-.33-.22-.53-.22h-.003c-.2 0-.393.08-.532.224l-4.317 4.384-1.813-1.806c-.14-.14-.33-.22-.53-.22-.193-.03-.395.08-.535.227L3.5 17.642V4.25c0-.413.337-.75.75-.75zm-.744 16.28l5.418-5.534 6.282 6.254H4.25c-.402 0-.727-.322-.744-.72zm16.244.72h-2.42l-5.007-4.987 3.792-3.85 4.385 4.384v3.703c0 .413-.337.75-.75.75z"
                  ></path>
                  <circle cx="8.868" cy="8.309" r="1.542"></circle>
                </g>
              </svg>
              <svg
                viewBox="0 0 24 24"
                aria-hidden="true"
                class="w-6 h-6 text-blue-500 fill-current inline ml-2"
              >
                <g>
                  <path
                    d="M19 10.5V8.8h-4.4v6.4h1.7v-2h2v-1.7h-2v-1H19zm-7.3-1.7h1.7v6.4h-1.7V8.8zm-3.6 1.6c.4 0 .9.2 1.2.5l1.2-1C9.9 9.2 9 8.8 8.1 8.8c-1.8 0-3.2 1.4-3.2 3.2s1.4 3.2 3.2 3.2c1 0 1.8-.4 2.4-1.1v-2.5H7.7v1.2h1.2v.6c-.2.1-.5.2-.8.2-.9 0-1.6-.7-1.6-1.6 0-.8.7-1.6 1.6-1.6z"
                  ></path>
                  <path
                    d="M20.5 2.02h-17c-1.24 0-2.25 1.007-2.25 2.247v15.507c0 1.238 1.01 2.246 2.25 2.246h17c1.24 0 2.25-1.008 2.25-2.246V4.267c0-1.24-1.01-2.247-2.25-2.247zm.75 17.754c0 .41-.336.746-.75.746h-17c-.414 0-.75-.336-.75-.746V4.267c0-.412.336-.747.75-.747h17c.414 0 .75.335.75.747v15.507z"
                  ></path>
                </g>
              </svg>
            </div>
            <button
              class="
                py-2
                px-4
                bg-blue-500
                text-white
                font-semibold
                rounded-full
                absolute
                top-4
                right-0
                disabled:opacity-50
                hover:bg-blue-700
              "
              :disabled="tweet.length === 0"
              @click="saveTweet"
            >
              Tweet
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "../../axios/axios";

export default {
  name: "profile-component",
  data: function () {
    return {
      count: 0,
      tweet: "",
    };
  },
  methods: {
    saveTweet: function () {
      axios.post("/api/tweet", { tweet: this.tweet }).then(
        () => {
          this.tweet = "";
          this.$store.dispatch("home/getTweets");
        },
        (err) => {
          console.log(err);
        }
      );
    },
  },
};
</script>

<style scoped>
</style>