<template>
  <div class="RigthSidebar fixed">
    <div class="py-2 px-4">
      <div
        class="
          border
          py-2
          px-4
          rounded-full
          bg-gray-50
          flex
          focus-within:border-blue-500
        "
      >
        <SearchIcon class="inline w-4 flex-none text-gray-500" />
        <input
          type="text"
          class="flex flex-grow bg-gray-50 focus-visible: outline-none px-2"
          placeholder="Search twitter"
        />
      </div>
    </div>

    <div class="py-2 px-4 min-h-screen">
      <div class="bg-gray-50 p-4 rounded-xl">
        <div class="font-bold text-xl">What’s happening</div>
        <div class="mt-6">
          <div class="text-gray-500 font-light text-xs">
            Entertainment · LIVE
          </div>
          <div class="font-semibold">Salman Khan’s Antim is here</div>
          <div class="text-sm font-light text-gray-500">
            Trending with
            <a href="" class="text-blue-500">#AntimTheFinalTruth</a>,
            <a class="text-blue-500" href="">#AayushSharma</a>
          </div>
        </div>
        <div class="mt-6">
          <div class="text-gray-500 font-light text-xs">
            Bollywood · Trending
          </div>
          <div class="font-semibold">#RanveerSingh</div>
          <div class="text-sm font-light text-gray-500">
            Trending with
            <a href="" class="text-blue-500">#DeepikaPadukone</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { SearchIcon } from "vue-feather-icons";

export default {
  name: "RightSidebar",
  components: {
    SearchIcon,
  },
  data: function () {
    return {
      count: 0,
    };
  },
};
</script>

<style scoped>
</style>