<template>
  <div>
    <ProfileComponent></ProfileComponent>
    <div class="tweet">
      <div
        class="border-b border-gray-100 py-4 hover:bg-gray-50"
        v-for="tweet in tweets"
        :key="tweet.id"
      >
        <div class="flex">
          <div class="flex-none w-24 p-4">
            <div
              class="
                w-16
                h-16
                rounded-full
                inline-flex
                items-center
                justify-center
                bg-gray-200
                text-gray-400
              "
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-10 h-10"
                viewBox="0 0 24 24"
              >
                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </div>
          </div>
          <div class="flex-grow px-4 py-2">
            <div class="font-semibold">
              {{ tweet.created_by }}
              <svg
                viewBox="0 0 24 24"
                aria-label="Verified account"
                class="w-4 inline text-blue-500 fill-current mr-2 ml-1"
              >
                <g>
                  <path
                    d="M22.5 12.5c0-1.58-.875-2.95-2.148-3.6.154-.435.238-.905.238-1.4 0-2.21-1.71-3.998-3.818-3.998-.47 0-.92.084-1.336.25C14.818 2.415 13.51 1.5 12 1.5s-2.816.917-3.437 2.25c-.415-.165-.866-.25-1.336-.25-2.11 0-3.818 1.79-3.818 4 0 .494.083.964.237 1.4-1.272.65-2.147 2.018-2.147 3.6 0 1.495.782 2.798 1.942 3.486-.02.17-.032.34-.032.514 0 2.21 1.708 4 3.818 4 .47 0 .92-.086 1.335-.25.62 1.334 1.926 2.25 3.437 2.25 1.512 0 2.818-.916 3.437-2.25.415.163.865.248 1.336.248 2.11 0 3.818-1.79 3.818-4 0-.174-.012-.344-.033-.513 1.158-.687 1.943-1.99 1.943-3.484zm-6.616-3.334l-4.334 6.5c-.145.217-.382.334-.625.334-.143 0-.288-.04-.416-.126l-.115-.094-2.415-2.415c-.293-.293-.293-.768 0-1.06s.768-.294 1.06 0l1.77 1.767 3.825-5.74c.23-.345.696-.436 1.04-.207.346.23.44.696.21 1.04z"
                  ></path>
                </g>
              </svg>
              <span class="font-normal text-gray-500"
                >@{{ tweet.created_by }}</span
              >
            </div>
            <p>
              {{ tweet.tweet }}
            </p>
            <!-- <div class="mt-2 border rounded-xl overflow-x-hidden">
              <img src="tweet-temp.jpeg" alt="" class="w-full" />
              <div class="p-4">
                <a href="">
                  <span class="text-gray-500 font-light">apple.com</span>
                  <p>The new Macbook Pro</p>
                </a>
              </div>
            </div> -->
            <div class="grid grid-cols-4 pt-4 text-gray-500 font-light text-sm">
              <div>
                <a href="">
                  <MessageCircleIcon class="inline w-4 -top-0.5 relative" />
                  <span class="ml-4">5</span>
                </a>
              </div>
              <div>
                <TwitchIcon class="inline w-4 -top-0.5 relative" />
                <span class="ml-4">6</span>
              </div>
              <div>
                <HeartIcon class="inline w-4 -top-0.5 relative" />
                <span class="ml-4">90</span>
              </div>
              <div>
                <UploadIcon class="inline w-4 -top-0.5 relative" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  MessageCircleIcon,
  TwitchIcon,
  HeartIcon,
  UploadIcon,
} from "vue-feather-icons";
import ProfileComponent from "./profile.vue";
// import axios from "../../axios/axios";

export default {
  name: "tweet-component",
  components: {
    MessageCircleIcon,
    TwitchIcon,
    HeartIcon,
    UploadIcon,
    ProfileComponent,
  },
  data: function () {
    return {
      count: 0,
    };
  },
  methods: {},
  created: function () {
    this.$store.dispatch("home/getTweets");
  },
  computed: {
    tweets: function () {
      return this.$store.state.home.tweets;
    },
  },
};
</script>

<style scoped>
.tweet {
  z-index: 999;
}
</style>